test:
  uuid_prefix: zzzzz
  secret_token: <%= rand(2**512).to_s(36) %>

common:
  # The site name that will be used in text such as "Sign in to site_title"
  site_title: Arvados

  # After logging in, the title and URL of the link that will be presented to
  # the user as the default destination on the welcome page.
  default_link_title: Arvados
  default_link_url: "http://localhost:3000"

  # secret_token is a string of alphanumeric characters used by Rails
  # to sign session tokens. IMPORTANT: This is a site secret. It
  # should be at least 50 characters.
  secret_token: {{ secret_token_sso }}

  # The uuid prefix for generating new Arvados user uuids.  Must be exactly
  # five characters long in the range [a-z0-9].
  uuid_prefix: {{ uuid_prefix_sso }}

  # You really want to run everything over SSL.
  force_ssl: true

  ###
  ### Local account configuration.  This is enabled if neither
  ### google_oauth2 or LDAP are enabled below.
  ###
  # If true, allow new creation of new accounts in the SSO server's internal
  # user database.
  allow_account_registration: false

  # If true, send an email confirmation before activating new accounts in the
  # SSO server's internal user database.
  require_email_confirmation: false


  ###
  ### Google+ OAuth2 authentication.
  ###
  # Google API tokens required for OAuth2 login.
  #
  # See https://github.com/zquestz/omniauth-google-oauth2
  #
  # and https://developers.google.com/accounts/docs/OAuth2
  google_oauth2_client_id: false
  google_oauth2_client_secret: false

  # Set this to your OpenId 2.0 realm to enable migration from Google OpenId
  # 2.0 to Google OAuth2 OpenId Connect (Google will provide OpenId 2.0 user
  # identifiers via the openid.realm parameter in the OAuth2 flow until 2017).
  google_openid_realm: false

  # Enable login via Google OpenId 2.0 (note this is scheduled to be shut off 20 April 2015!)
  google_deprecated_openid: false


  ###
  ### LDAP authentication.
  ###
  #
  # If you want to use LDAP, you need to provide
  # the following set of fields under the use_ldap key.
  #
  # use_ldap: false
  #   title: Example LDAP
  #   host: ldap.example.com
  #   port: 636
  #   method: ssl
  #   base: "ou=Users, dc=example, dc=com"
  #   uid: uid
  #   email_domain: example.com
  #   #bind_dn: "some_user"
  #   #password: "some_password"
  use_ldap: false
