# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log;
#error_log  /var/log/nginx/error.log  notice;
#error_log  /var/log/nginx/error.log  info;

pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    index   index.html index.htm;

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.
    include /etc/nginx/conf.d/*.conf;

    server {
        listen       80 default_server;
        server_name  localhost;
        root         /usr/share/nginx/html;

        #charset koi8-r;

        #access_log  /var/log/nginx/host.access.log  main;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        location / {
        }

        # redirect server error pages to the static page /40x.html
        #
        error_page  404              /404.html;
        location = /40x.html {
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
        }
    }
    server {
      listen 127.0.0.1:8000;
      server_name localhost-api;

      root /var/www/arvados-api/current/public;
      index  index.html index.htm index.php;

      passenger_enabled on;
      # If you're using RVM, uncomment the line below.
      #passenger_ruby /usr/local/rvm/wrappers/default/ruby;
    }

    upstream api {
      server     127.0.0.1:8000  fail_timeout=10s;
    }

    upstream websockets {
      # The address below must match the one specified in puma's -b option.
      server     127.0.0.1:8100  fail_timeout=10s;
    }

    proxy_http_version 1.1;

    # When Keep clients request a list of Keep services from the API server, the
    # server will automatically return the list of available proxies if
    # the request headers include X-External-Client: 1.  Following the example
    # here, at the end of this section, add a line for each netmask that has
    # direct access to Keep storage daemons to set this header value to 0.
    geo $external_client {
      default        1;
      10.20.30.0/24  0;
    }

    server {
      listen       {{ ansible_eth1['ipv4']['address'] }}:443 ssl;
      server_name  testing.arvados.api;

      ssl on;
      ssl_certificate     {{ SSL_CERT_PATH }}/cert.pem;
      ssl_certificate_key {{ SSL_CERT_PATH }}/cert.key;

      index  index.html index.htm index.php;

      # This value effectively limits the size of API objects users can create,
      # especially collections.  If you change this, you should also set
      # `max_request_size` in the API server's application.yml file to the same
      # value.
      client_max_body_size 128m;

      location / {
        proxy_pass            http://api;
        proxy_redirect        off;
        proxy_connect_timeout 90s;
        proxy_read_timeout    300s;

        proxy_set_header      X-Forwarded-Proto https;
        proxy_set_header      Host $http_host;
        proxy_set_header      X-External-Client $external_client;
        proxy_set_header      X-Real-IP $remote_addr;
        proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
      }
    }

    server {
      listen        {{ ansible_eth1['ipv4']['address'] }}:443 ssl;
      server_name  ws.testing.arvados.api;

      ssl on;
      ssl_certificate     {{ SSL_CERT_PATH }}/cert.pem;
      ssl_certificate_key {{ SSL_CERT_PATH }}/cert.key;

      index  index.html index.htm index.php;

      location / {
        proxy_pass            http://websockets;
        proxy_redirect        off;
        proxy_connect_timeout 90s;
        proxy_read_timeout    300s;

        proxy_set_header      Upgrade $http_upgrade;
        proxy_set_header      Connection "upgrade";
        proxy_set_header      Host $host;
        proxy_set_header      X-Real-IP $remote_addr;
        proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
      }
    }}
